<p style="color: green"><%= notice %></p>

<%= render @chat %>

<div>
  <%= link_to "Edit this chat", edit_admin_chat_path(@chat) %> |
  <%= link_to "Back to chats", admin_chats_path %>

  <%= button_to "Destroy this chat", admin_chat_path(@chat), method: :delete %>
</div>
