<div id="<%= dom_id post %>">
  <h2 class="post_title">
    <%= link_to post.title, post_path(post) %>
  </h2>

  <h4 class="author">
    Автор
    <%= post.user.email %>
  </h4>
    
  <p class="tags">
    <%= post.tags %>
  </p>

  <p>
    <%= post.text %>
  </p>

  <div class="feedback">
    <div class="likes"> 
    <p> Лайки </p> 
    <%= post.likes %>
    </div>   
    <div class="likes"> 
    <p> Дизлайки </p> 
    <%= post.dislikes %>
    </div>  
    <div class="taps"> 
    <p> Тапы </p> 
    <%= post.taps %>
    </div>    
  </div>

</div>
